* {
	box-sizing: border-box;
	font-family: aktiv-grotesk, sans-serif;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: #000;
	color: #fff;
}
body.isRecruit, body.isContact {
	background-color: #f6f6f6;
	color: #222;
}
body.isContact {
	background-color: #fff;
	color: #222;
}
a {
	text-decoration: none;
	color: #fff;
}
.bg path {
	fill: #fff;
}
body.isRecruit a, body.isContact a {
	color: #222;
}
body.isRecruit .bg path,
body.isContact .bg path {
	fill: #222;
}
.iconBtn .shape > .inner > div {
	background-color: #fff;
}
body.isRecruit .iconBtn .shape > .inner > div,
body.isContact .iconBtn .shape > .inner > div {
	background-color: #222;
}

@keyframes pulsate{ 50%{ opacity: 0.7; } }
button:hover {
	cursor: pointer;
}
a:hover, .iconBtnBox:hover .iconBtn {
	opacity: 1;
  -webkit-animation: pulsate .001s linear infinite;
  animation: pulsate .001s linear infinite;
}
.wrapper {
	position: relative;
}
#pageContent {
	margin-right: 200px;
}
#contactPage, #talentPage,
#newsPage {
	margin-top: 170px;
}

.iconBtn {
	position: absolute;
	text-align: center;
	right: 15px;
	top: 50%;
	margin-top: -24px;
	width: auto;
	height: auto;
}
.iconBtn svg {
	opacity: .2;
}
.iconBtn .shape {
  position: relative;
  width: 20.8333333%;
  height: 4.1666667%;
}
.iconBtn .shape > .inner {
  position: absolute;
  top: 24px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%;
}
.iconBtn .shape > .inner > div {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
	transition: all .3s;
}
.iconBtnBox {
	position: relative;
	cursor: pointer;
}
.iconBtn .shape > .inner > div:last-child {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.iconBtnBox.open .inner > div,
.iconBtn:hover .inner > div,
.iconBtnBox:hover .inner > div  {
	-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.iconBtnBox.open .inner > div:last-child,
.iconBtn:hover .inner > div:last-child,
.iconBtnBox:hover .inner > div:last-child {
	-webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.iconBtnBox.open:hover .inner > div {
	-webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.iconBtnBox.open:hover .inner > div:last-child {
	-webkit-transform: rotate(450deg);
  -moz-transform: rotate(450deg);
  -o-transform: rotate(450deg);
  -ms-transform: rotate(450deg);
  transform: rotate(450deg);
}
.iconBtn .wrapper {
	width: 48px;
	height: 48px;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.toggleContent {
	transition: all .5s;
	height: 0;
	overflow: hidden;
}
.breadcrumbs {
    position: absolute;
    font-size: 24px;
    padding: 27px 29px;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    z-index: 1;
    /* color: #fff; */
}
.breadcrumbs a {
	opacity: .4;
}
.-hidden- {
	display: none;
}
.fullView {
	width: 100%;
	height: 100%;
	background-color: #222;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.fullView__close {
	position: absolute;
    top: 30px;
    right: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
}