.page {
  padding: 0;
}
#pageContent, #workPage {
  height: 100%;
}
.infiniteBlock {
  width: 100%;
  overflow: hidden;
  height: 80%;
}
.infiniteWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.infiniteList, .infiniteItem,
.infiniteItem img {
  height: 100%;
}
.infiniteWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}
.infiniteList {
  font-size: 0;
  position: relative;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: all 0.1s;
}
.infiniteItem {
  font-size: initial;
  position: relative;
  display: inline-block;
  white-space: normal;
}
.infiniteImage {
  width: 100%;
}
