{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>News</title>
	<!-- main with header -->
	<link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'works/css/common.css' %}">

  <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'works/css/content.css' %}">
  <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'works/css/news.css' %}">
  <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'works/css/talent.css' %}">

</head>
<body>
	<div id="mobileNav" class="-mobile-">
		<a href="index.html" id="mobileLogo">
			<!-- <span class="logo">Iconic Site</span> -->
			<img class="logo" src="../dist/images/logo.jpeg" alt=""></img>
		</a>
		<a href="#" id="hideMenu" class="iconBtnBox" title="menu" role="menu">
			<span class="hmenu-text">Menu</span>
			<div class="iconBtn">
				<div class="wrapper">
					<div class="shape" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
		              <div class="inner" style="transform: translate3d(0px, 0px, 0px);">
		                <div class="line is-a"></div>
		                <div class="line is-b"></div>
		              </div>
		            </div>
					<svg class="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
						<path d="M24,0A24,24,0,1,0,48,24,24,24,0,0,0,24,0Zm0,40A16,16,0,1,1,40,24,16,16,0,0,1,24,40Z" style="fill-rule:evenodd"></path>
					</svg>
				</div>
			</div>
		</a>
	</div>

	<div class="side-header">
		<div class="side-menu side-menu-controls">
			<div class="wrapper">
				<div class="header-logo">Site name</div>

				<a id="header-menu" class="header-menu iconBtnBox">
					<span class="hmenu-text">Menu</span>
					<div class="iconBtn">
						<div class="wrapper">
							<div class="shape" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
				              <div class="inner" style="transform: translate3d(0px, 0px, 0px);">
				                <div class="line is-a"></div>
				                <div class="line is-b"></div>
				              </div>
				            </div>
							<svg class="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
								<path d="M24,0A24,24,0,1,0,48,24,24,24,0,0,0,24,0Zm0,40A16,16,0,1,1,40,24,16,16,0,0,1,24,40Z" style="fill-rule:evenodd"></path>
							</svg>
						</div>
					</div>
				</a>
				<div class="header-bottom">© Copyright</div>
			</div>
		</div>
		<div class="side-menu side-menu-list">
			<ul class="main-link-list">
				<li class="main-link"><a href="works.html" class="linkdata" datapage="works">Works</a></li>
				<li class="main-link"><a href="about.html" class="linkdata" datapage="about">About</a></li>
				<li class="main-link"><a href="news.html" class="linkdata" datapage="news">News</a></li>
				<li class="main-link"><a href="talent.html" class="linkdata" datapage="talent">Talent</a></li>
				<li class="main-link"><a href="recruit.html" class="linkdata" datapage="recruit">Recruit</a></li>
				<li class="main-link"><a href="contact.html" class="linkdata" datapage="contact">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="backlayer">
		<video class="inner" src="video/about.mp4" width="100%" height="100%" muted="" loop="" playsinline="" autoplay></video>
	</div>

	<div class="breadcrumbs">
		<a href="index.html" class="breadcrumbs__item" title="Homepage">Home</a>
		<span><img class="arw" src="images/system/right.svg" alt=""></span>
		<span class="breadcrumbs__item">News</span>
	</div>

	<div id="pageContent" class="content">
		<div id="newsPage" class="page">
			<div class="newsList">
				<div class="newsItem">
					<div class="publicationDate">
						<span class="newsDate">2018.09.10</span>
						<span class="newsState">Release</span>
					</div>
					<a href="#" class="newsTitle" target="_blank">"Touching Sound,"the VR content first revealed at SXSW in the spring of 2018 that created so much buzz in the VR world, was further improved over the summer! It can now be enjoyed by two pairs of people at J-WAVE Innovation Festa 2018, which will be held from Saturday, September 29, to Sunday, September 30, at Roppongi Hills. Come and experience it with family members or friends.</a>
				</div>
				<div class="newsItem">
					<div class="publicationDate">
						<span class="newsDate">2018.08.16</span>
						<span class="span newsState">Release</span>
					</div>
					<a href="#" class="newsTitle" target="_blank">"The Man from the Sea" is the latest movie by director Koji Fukuda, a rising star in the world of film and winner of the 2016 Jury Prize in the Un Certain Regard category of the 69th Cannes Film Festival for his film, "Harmonium." TAIYOKIKAKU R&D was involved in the production of the film, and the VFX was handled by +Ring. The film is currently being shown at Kineca Omori in Tokyo, so don't miss it! You're certain to be enthralled by this moving and beautiful fantasy film!</a>
				</div>
			</div>
		</div>
	</div>


	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous" defer></script>
	<script src="../dist/js/common.js" type="text/javascript" charset="utf-8" defer></script>

</body>
</html>
