{% extends 'works/base.html' %}
{% load static %}


{% block title %}{{ work.title }}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'css/content.css' %}">
  <!-- <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'works/css/talent.css' %}"> -->
  <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'css/workpage.css' %}">
{% endblock %}

{% block header %}
	{% include 'crumbs/header.html' with is_mobile_only=True %}
{% endblock %}

{% block breadcrumbs %}
	{% include 'crumbs/breadcrumbs.html' with page_name=work.title %}
{% endblock %}

{% block content %}
	<div id="pageContent" class="content">
		<div id="workPage" class="page">
			<div id="wrapper">
				<div id="wrapper2"></div>
			</div>
		</div>
	</div>

	<div id="nav_foot" class="navigation nav-bottom">
		<a href="works.html" class="nav__item"><span>Prev Work</span></a>
		<a href="/" class="nav__item all"><span>All Works</span></a>
		<a href="works.html" class="nav__item"><span>Next Work</span></a>
	</div>

	<div class="fullView -hidden-">
		<a href="#" title="Close" class="fullView__close">Назад</a>
		<div id="videoContent"></div>
	</div>
{% endblock %}

{% block js_data %}
  <script type="text/javascript" charset="utf-8">
    var textData = [{
		type: 'info',
		title: '{{ work.title }}',
		category: '{% for category in work.category.all %} {{ category }}{% endfor %}',
		client: '{% for user in work.user.all %} {{ user }}{% endfor %}',
		launch: '{{ work.launch_date|date:"d M, Y" }}',
	}];

	textData.push({
		type: 'image',
		src: '{{ work.poster.url }}',
		alt: '{{ work.title }}',
	});
	// console.log('asdasd:{{ work.poster.url }}')
    // console.log('textData:',textData)

    {% if images %}
    	{% for image in images.all %}
			textData.push({
				type: 'image',
				src: '/media/{{image.url}}',
				alt: '{{image.title}}',
			});
    		console.log('{{image.title}}', '{{image.work.id}}', '{{image.url}}')
    	{% endfor %}
    {% endif %}

  </script>
{% endblock %}


{% block tail %}
	<link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
	<script type="text/javascript" src="http://vjs.zencdn.net/4.12/video.js" defer></script>
	<style type="text/css">
	  .vjs-default-skin { color: #ffffff; }
	  .vjs-default-skin .vjs-pworks/css/ogress,
	  .vjs-default-skin .vjs-volume-level { background-color: #00fff2 }
	  .vjs-default-skin .vjs-control-bar,
	  .vjs-default-skin .vjs-big-play-button { background: rgba(25,128,104,0.82) }
	  .vjs-default-skin .vjs-slider { background: rgba(25,128,104,0.2733333333333333) }
	  .vjs-default-skin .vjs-control-bar { font-size: 69% }
	</style>

	<script type="text/javascript" src="{% static 'js/jquery-mousewheel-3.1.12/jquery.mousewheel.js' %}" charset="utf-8" defer></script>
	<script type="text/javascript" src="{% static 'js/scrollBehaviorGlob.old.js' %}" charset="utf-8" defer></script>
	<script type="text/javascript" src="{% static 'js/works.old.js' %}" charset="utf-8" defer></script>
{% endblock %}
