
/*Home page*/
@media screen and (min-width: 0) {
  #homePage {
    margin-top: 115px;
  }
  #mobileCategory .toggleBtn {
    top: 70px;
  }
}
@media screen and (min-width: 768px) {
  #homePage {
    margin-top: 0;
  }
  #mobileCategory .toggleBtn {
    top: 29.333333333333332vw;
  }
}
